{# src/VizBundle/Resources/views/Dashboard/index.html.twig #}
{% extends 'VizBundle::layout.html.twig' %}

{% block body %}
  <ul>
  </ul>
  <a href=" {{ path('VizBundle_new_viz') }} ">Add Schema</a>
{% endblock %}
